{% extends 'base.html' %}
{% block title %}{{ form.instance.pk|yesno:"Update Event,Create Event" }}{% endblock %}
{% block content %}
<header class="mb-6 flex justify-between items-center">
    <h1 class="text-2xl font-semibold">
        {% if form.instance.pk %}Update Event{% else %}Create Event{% endif %}
    </h1>
    <a href="{% url 'event-list' %}" class="text-rose-600 hover:underline">Back to Events</a>
</header>

<form method="post" class="bg-white p-6 rounded shadow space-y-4 max-w-md">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div>
        {{ form.description.label_tag }}
        {{ form.description }}
        {{ form.description.errors }}
    </div>
    <div>
        {{ form.date.label_tag }}
        {{ form.date }}
        {{ form.date.errors }}
    </div>
    <div>
        {{ form.time.label_tag }}
        {{ form.time }}
        {{ form.time.errors }}
    </div>
    <div>
        {{ form.location.label_tag }}
        {{ form.location }}
        {{ form.location.errors }}
    </div>
    <div>
        {{ form.category.label_tag }}
        {{ form.category }}
        {% comment %} {{ form.category.errors }} {% endcomment %}
    </div>
    <button type="submit" class="bg-rose-600 text-white px-4 py-2 rounded">Save</button>
</form>
{% endblock %}
